html, body {
    width: 100%;
    height: 100%;
    margin-left: 0.12rem;
    font-size: 1.1rem;
    color: #333;
    overflow-x: hidden;
    /* overflow-y: auto; */
    position: fixed;
}

h2 {
    font-weight: normal;
    font-size: 1.4rem;
    min-width: 20vw;
    margin: 0;
    padding: 0.8rem 0;
}

#start {
    display: none;
}

.main-section header {
    padding-top: 1rem;
    font-size: 1.4rem;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    /* min-width: 20rem; */
    min-width: 100vw;
    width: 21rem;
    background-color: white;
}

#navbar header {
    background-color: lightgray;
    padding: 0 1.32rem;
    min-width: 16rem;
}

#navbar ul {
    list-style-type: none;
    padding: 0rem;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lightgray;
    height: 84vh;
}

#navbar ul li {
    padding: 1rem;    
    border-bottom: 1px solid white;
}

#navbar ul li:first-of-type {   
    border-top: 1px solid white;
}

#navbar ul a {
    color: #333;
    text-decoration: none;
    padding: 1rem 1rem 1rem 0rem;
}

#References a {
    color: royalblue;
    padding: 0px;
    background-color: white;
}

#References a:hover {
    color: hsl(205, 60%, 55%);
    text-decoration: underline;
}

#main-doc {
    position: absolute;
    margin-left: 350px;
    padding: 0 3rem 3rem 3rem;
    text-align: justify;
}

.code-frame {
    background-color: antiquewhite;
    border: 1px solid gray;
    margin-bottom: 1rem;
    padding: 1rem;
}

h3 {
    font-weight: lighter;
}

@media (max-width: 550px) {
    #start {
        display: flex;
        position: fixed;
        right: 2rem;
        bottom: 1.5rem;
        font-size: 3rem;
    }
    #start p, #start a {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
    }

    #navbar header {
        position: inherit;
        padding: 0 1.32rem;
        max-width: 100vw;
    }

    #navbar {
        position: initial;
        /* max-width: 100vw;
        width: 23rem; */
    }

    #navbar ul {
        height: 56vh;
    }

    a:first-of-type {
        margin-top: 0px;
    }

    #main-doc {
        padding: 0 1rem 1rem 1rem;
        text-align: justify;
        max-width: 86vw;
        overflow-x: hidden;
        margin-left: 0rem;
        /* margin-top: 6rem; */
    }
}