html, body {
    width: 100%;
    height: 100%;
    margin-left: 0.12rem;
    font-size: 1.1rem;
    color: #333;
}

h2 {
    font-weight: normal;
    font-size: 1.4rem;
    max-width: 20vw;
}

#top {
    position: fixed;
}

.main-section header {
    padding-top: 1rem;
    font-size: 1.4rem;
}

#container {
    display: grid;
    grid-template-columns: 23% 1fr;
    grid-template-areas:
    "navbar document";
    
}

#navbar {
    position: fixed;
    grid-area: navbar;
    display: grid;
    align-content: flex-start;
    overflow-y: scroll;
    max-height: 100vh;
    max-width: 23vw;
    background-color: white;
    grid-row-gap: 3px;
}

#navbar header {
    position: fixed;
    background-color: lightgray;
    padding: 0 1.32rem;
    max-width: 20vw;
}

a {
    color: #333;
    text-decoration: none;
    padding: 1rem 0 1rem 1.5rem;
    background-color: lightgray;
}

a:first-of-type {
    margin-top: 7.3rem;  
}

a:last-of-type {
    margin-bottom: 1rem;
}

#References a {
    color: royalblue;
    padding: 0px;
    background-color: white;
}

#References a:hover {
    color: hsl(205, 60%, 55%);
    text-decoration: underline;
}

#main-doc {
    grid-area: document;
    padding: 0 3rem 3rem 3rem;
    text-align: justify;
}

.code-frame {
    background-color: antiquewhite;
    border: 1px solid gray;
    margin-bottom: 1rem;
    padding: 1rem;
}

h3 {
    font-weight: lighter;
}

@media (max-width: 550px) {
    #top {
        position: fixed;
        right: 2rem;
        bottom: 1.5rem;
        font-size: 3rem;
    }
    #top p, #top a {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
    }

    #container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "navbar"
        "document";
    }

    #navbar header {
        position: inherit;
        padding: 0 1.32rem;
        max-width: 100vw;
    }

    #navbar {
        position: inherit;
        max-width: 100vw;
    }

    a:first-of-type {
        margin-top: 0px;
    }

    #main-doc {
        padding: 0 1rem 1rem 1rem;
        text-align: justify;
        max-width: 100vw;
        overflow-x: hidden;
    }
}